@import url(https://fonts.googleapis.com/css?family=Exo:100);
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

body {
  margin-top: 13.5rem;
  color:black;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui",sans-serif;
  text-align: center;
}




button {
    background-color: black;
    margin: 20px;
    padding: 15px 25px;
    font: 400 24px/2 exo, ubuntu, "segoe ui",sans-serif;
    color: #fff;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}





.button:hover {
    transform: translateY(-3px);
    color:blue;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}


.button:active {
    transform: translateY(1px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: purple;
}

p {
    text-align: center;
}

#info-section {
    margin-top: 50px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    max-width: 600px;  
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: left; 
    line-height: 1.5;
    font-weight: 600;
    font-size: 1em;
}

#info-section h2 {
    color: #333; 
    font-size: 1.5em;
    margin-bottom: 0.75em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.3em;
}

#info-section p {
    color: #666;
    text-indent: 20px;
}

#info-section ul {
    padding-left: 40px; 
}

#info-section ul li {
    margin-bottom: 10px; 
}

.modal {
display: none; 
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgba(0,0,0,0.4); 
backdrop-filter: blur(10px);
}

/* Updated Modal Content */
.modal-content {
position: relative;
background-color: rgba(255,255,255,0.8);
font: 800 24px/2 exo, ubuntu, "segoe ui",sans-serif;
color:#000;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 20%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s;
}

.modal-header {
color: darkgreen; 
font-size: 1.5em; 
}

.modal-body {
color: darkgreen; 
}

.modal-footer {
color: darkgreen; 
}


@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

.close-button {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
}

.close-button:hover,
.close-button:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

input[type="number"] {
width: 100%; /* Make the input field take up the full width of its parent */
font:600 exo;
padding: 12px 20px; /* Add some padding */
margin: 8px 0; /* Add some margin */
display: inline-block; /* Make it inline-block */
border: 1px solid #ccc; /* Add a border */
border-radius: 4px; /* Add rounded corners */
box-sizing: border-box; /* Make sure padding and width stays inside of the total width */
}